@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.57;
    color: #240035;
}

/* Other style */
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.close_menu {
    display: none;
}
.jus {
    text-align: justify;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.image_line {
    display: inline-block;
    position: relative;
    line-height: 0;
    width: 100%;
}
.image_line span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #240035;
    border-radius: 8px;
    transform: translate(7px, 4px);
    z-index: 1;
    display: block;
}
.image_line img {
    border-radius: 9px;
    position: relative;
    z-index: 2;
    width: 100%;
}
.pt {
    padding-top: 95px;
}
.subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.15em;
    color: rgba(36, 0, 53, 0.28);
    margin-bottom: 9px;
}
.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.33;
    background: linear-gradient(90deg, #6654D3 0%, #A265D5 67.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
}
/* Main style */
.main {
    width: 100%;
    background: url('../images/main_bg.jpg') no-repeat top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
header {
    padding-top: 48px;
}
header .flex {
    align-items: center;
}
.logo {
    width: 159px;
    transition: transform 0.4s;
    line-height: 0;
}
.logo:hover {
    transform: scale(1.1);
}
.logo svg {
    width: 100%;
}
.mobail_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 340px);
}
.menu ul {
    display: flex;
}
.menu li {
    margin-left: 42px;
}
.menu li:first-child {
    margin-left: 0;
}
.menu a {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
}
.menu a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    left: 0;
    width: 0;
    background-color: #fff;
    transition: width 0.4s;
}
.menu a:hover:after {
    width: 100%;
}
.phone_area {
    display: flex;
    align-items: center;
}
.phone_area-img {
    width: 49px;
    height: 49px;
    margin-right: 9px;
    animation: puls 0.6s steps(50) infinite alternate;
}
.phone_area-img svg {
    width: 100%;
    height: 100%;
}
.phone_area-link {
    display: flex;
    flex-direction: column;
}
.phone_area-link a {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 9px;
    position: relative;
}
.phone_area-link a:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    width: 0;
    background-color: #fff;
    transition: width 0.4s;
}
.phone_area-link a:hover:after {
    width: 100%;
}
.phone_area-link a:last-child {
    margin-bottom: 0;
}
@keyframes puls {
    0% {
        transform: scale(0.95);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}
.main_content {
    padding-top: 175px;
    padding-bottom: 275px;
    max-width: 540px;
}
.main_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.32;
    letter-spacing: 0.05em;
    padding-bottom: 35px;
    color: #FFFFFF;
}
.main_title span {
    font-weight: 900;
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.main_text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.57;
    color: #FFFFFF;
    padding-bottom: 42px;
}
.main_link {
    display: inline-block;
    height: 100%;
    position: relative;
}
.main_link a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;
    padding: 14px 80px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #c783da;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.main_link span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    transform: translate(3px, 3px);
    z-index: 1;
    display: block;
    transition: transform 0.4s;
}
.main_link:hover span {
    transform: translate(0, 0);
    animation: hoverlink 1.2s alternate;
}
@keyframes hoverlink {
    0% {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    100% {
        top: -35px;
        left: -35px;
        bottom: -35px;
        right: -35px;
        opacity: 0;
    }
}
.main_men {
    width: 545px;
    position: absolute;
    bottom: -20px;
    right: calc(50% - 630px);
}
.main_men img {
    width: 100%;
}

/* About style */
.about_image {
    width: 536px;
}
.about_content {
    width: calc(100% - 570px);
}
.about_content .image_line {
    margin-top: 38px;
}

/* Services style */
.services_line {
    width: 100%;
    height: 155px;
    background: url('../images/services_bg.jpg') no-repeat center;
    background-size: cover;
    margin-top: 18px;
}
.services_area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -150px -15px 0;
}
.services_item {
    width: calc(25% - 30px);
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 6px 3px 14px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.services_item-img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
}
.services_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services_item-title {
    padding: 20px 10px 6px;
    font-size: 22px;
    line-height: 1.32;
    background: linear-gradient(90deg, #6654D3 0%, #A265D5 67.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Solve style */
.solve {
    margin-bottom: 95px;
}
.solve_image {
    width: 540px;
}
.solve_content {
    width: calc(100% - 570px);
}
.tab {
    background: #FFFFFF;
    box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 19px 18px;
    margin-bottom: 15px;
    cursor: pointer;
}
.tab:last-child {
    margin-bottom: 0;
}
.tab_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.32;
    position: relative;
}
.tab_title:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background: url('../images/plus.svg') no-repeat;
    background-size: 100% 100%;
    right: 0;
    top: 0;
}
.active .tab_title:after {
    background: url('../images/minus.svg') no-repeat;
    background-size: 100% 100%;
}
.tab_content {
    padding-top: 7px;
    position: relative;
    display: none;
}
.active .tab_content {
    display: block;
}
.tab_content:after {
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    left: -18px;
    right: -18px;
    background-color: rgba(36, 0, 53, 0.1);
}

/* Contact style */
.contact {
    padding: 100px 0;
    background: url('../images/contact_bg.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.contact_content {
    position: relative;
    padding: 30px 30px 30px 0;
    max-width: max-content;
}
.contact_content-area {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.contact_content:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: -100vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15.5px);
    border-radius: 9px;
    z-index: 1;
}
.contact_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.32;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.contact_text  {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.32;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.contact_text:last-child {
    margin-bottom: 0;
}
.contact_text span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.57;
    display: block;
}
.contact .subtitle {
    color: rgba(255, 255, 255, 0.43);
}
.contact_women {
    width: 720px;
    position: absolute;
    bottom: -20px;
    right: calc(50% - 790px);
}
.contact_women img {
    width: 100%;
}
/* Footer style */
footer {
    padding: 50px 0;
}
footer .flex {
    align-items: center;
}
footer .logo {
    width: 175px;
}
.social {
    display: flex;
}
.social li {
    margin-left: 22px;
}
.social li:first-child {
    margin-left: 0;
}
.social svg{
    transition: transform 0.4s;
}
.social a:hover svg{
    transform: scale(1.1);
}
.mobile_button {
    display: none;
}
@media (max-width: 1180px) {
    .mobail_menu {
        width: calc(100% - 200px);
    }
    body {
        font-size: 16px;
    }
    .container {
        width: 788px;
        padding: 0 10px;
    }
    .menu li {
        margin-left: 20px;
    }
    .menu a {
        font-size: 16px;
    }
    .phone_area-link a {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 6px;
    }
    .phone_area-img {
        width: 40px;
        height: 40px;
    }
    .logo {
        width: 140px;
    }
    .main_men {
        width:300px;
        position: absolute;
        bottom: -20px;
        right: calc(50% - 400px);
    }
    .main_content {
        padding-top: 100px;
        padding-bottom: 125px;
        max-width: 420px;
    }
    .main_title {
        font-size: 43px;
        padding-bottom: 25px;
    }
    .main_text {
        font-size: 16px;
        line-height: 1.3;
        padding-bottom: 22px;
    }
    .main_link a {
        font-size: 18px;
        padding: 12px 60px;
    }
    .about_content {
        width: 100%;
    }
    .about {
        position: relative;
    }
    .about .title {
        margin-bottom: 320px;
    }
    .about_image {
        position: absolute;
        width: 226px;
        top: 155px;
    }
    .about_content .image_line {
        position: absolute;
        top: 155px;
        width: 500px;
        left: calc(50% - 125px);
        margin-top: 0;
    }
    .pt {
        padding-top: 60px;
    }
    .title {
        font-size: 36px;
    }
    .services_item {
        width: 255px;
        margin: 0 15px 0 0;
    }
    .services_item:last-child {
        margin: 0;
    }
    .services_area {
        display: flex;
        width: max-content;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0;
        margin-left: calc(50% - 384px );
    }
    .services_item-title {
        font-size: 20px;
    }
    .services_scrol.container {
        overflow-x: scroll;
        position: relative;
        z-index: 1;
        margin-top: -100px;
        width: 100%;
        
    }
    .services_scrol::-webkit-scrollbar-track {
        background-color: #fff;
        width: 5px;
    }

    .services_scrol::-webkit-scrollbar {
        background-color: #fff;
    }

    .services_scrol::-webkit-scrollbar-thumb {
        background-color: #fff;
    }
    .services_line {
        height: 120px;
    }
    .solve_image {
        width: 240px;
    }
    .solve_content {
        width: calc(100% - 260px);
    }
    .tab_title {
        font-size: 22px;
    }
    .contact_title {
        font-size: 38px;
    }
    .contact_text {
        font-size: 20px;
    }
    .contact_text span {
        font-size: 16px;
    }
    .contact_content {
        position: relative;
        padding: 20px 15px;
        max-width: 340px;
    }
    .contact_women {
        width: 480px;
        right: calc(50% - 480px);
    }
    .contact {
        padding: 40px 0;
    }
}
@media (max-width: 788px) {
    .container {
        width: 320px;
    }
    .mobail_menu {
        display: none;
    }
    .mobile_button {
        display: block;
        width: 64px;
        height: 46px;
        padding: 15px;
        position: relative;
        transition: opacity 0.4s;
    }
    .mobile_button span {
        display: inline-block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        position: absolute;
    }
    .mobile_button span:nth-child(1) {
        top: 15px;
        left: 19px;
    }
    .mobile_button span:nth-child(2) {
        top: 21px;
        left: 24px;
    }
    .mobile_button span:nth-child(3) {
        top: 27px;
        left: 15px;
    }
    .mobile_button.active {
        opacity: 0;
    }
    .mobail_menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 100;
        background: linear-gradient(90deg, #6654D3 0%, #A265D5 67.45%);
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        padding: 95px 15px 45px;
        transform: translateX(-100%);
        transition: transform 0.4s;
    }
    .mobail_menu.active {
        transform: translateX(0);
    }
    .close_menu {
        width: 50px;
        height: 50px;
        background: url('../images/close.svg') no-repeat center center;
        background-size: 27px 27px;
        display: block;
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .phone_area-link a {
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 9px;
    }
    .phone_area-img {
        width: 49px;
        height: 49px;
    }
    .menu a {
        font-size: 18px;
    }
    .menu li {
        margin-left: 0;
        margin-bottom: 35px;
    }
    .menu li:last-child {
        margin-bottom: 0;
    }
    .logo {
        width: 129px;
    }
    .main {
        background-size: auto 100%;
    }
    .main_content {
        padding-top: 80px;
        padding-bottom: 300px;
        max-width: 100%;
        text-align: center;
    }
    .main_men {
        width: 210px;
        right: calc(50% - 97px);
    }
    .main_link a {
        width: 100%;
        background-color: #a969cc;
    }
    .main_link {
        width: 100%;
    }
    .main_title {
        font-size: 35px;
        letter-spacing: 0;
    }
    .main_text {
        padding-bottom: 30px;
        padding: 0 10px 30px;
    }
    .subtitle {
        font-size: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    .title {
        font-size: 30px;
        text-align: center;
    }
    .about_content .image_line {
        position: relative;
        top: 0;
        width: 293px;
        left: 0;
        margin-top: 15px;
    }
    .about_image {
        width: 293px;
        top: 145px;
    }
    .about .title {
        margin-bottom: 435px;
    }
    .pt {
        padding-top: 50px;
    }
    .services {
        text-align: center;
    }
    .services_line {
        height: 86px;
        margin-top: 15px;
    }
    .services_scrol.container {
        margin-top: -71px;
    }
    .services_area {
        margin-left: calc(50% - 150px);
    }
    .solve {
        position: relative;
    }
    .solve_image {
        width: 293px;
        position: absolute;
        top: 130px;
    }
    .solve_content {
        width: 100%;
    }
    .solve .title {
        margin-bottom: 415px;
        font-size: 20px;
    }
    .tab_title:after {
        width: 14px;
        height: 14px;
        right: 0;
        top: 7px;
    }
    .solve {
        margin-bottom: 30px;
    }
    .contact_content {
        position: relative;
        padding: 20px 15px 20px 0;
        max-width: 300px;
    }
    .contact {
        padding: 50px 0 200px;
    }
    .contact_women {
        width: 346px;
        right: calc(50% - 235px);
        bottom: -48px;
        z-index: 2;
    }
    footer {
        padding: 35px 0;
    }
    footer .flex {
        flex-direction: column;
    }
    footer .logo {
        width: 219px;
        margin-bottom: 20px;
    }
    .copyright {
        font-size: 15px;
        margin-bottom: 20px;
    }
}